.weather-box {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(255,255,255,0.95);
  padding: 12px 16px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  width: 180px;
  font-size: 14px;
  z-index: 1000;
  font-family: sans-serif;
}

.weather-box h4 {
    margin-top: 0;
    font-size: 16px;
}